# IDE и редакторы
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/

# Временные файлы редакторов
*.swp
*~

# Бинарные файлы
*.exe
*.out
/bin/

# Зависимости
vendor/

# Секреты и конфиги
.env
.env.local
*.env
*.env.prod
config.yaml
secrets/

# Docker и Makefile
# Разрешаем Dockerfile в frontend и backend директориях
!frontend/Dockerfile
!frontend/.dockerignore
!backend/.dockerignore
.dockerignore
.docker/
Makefile.local

# OS файлы
.DS_Store
Thumbs.db

# Локальные данные
loki-data/
minio-data/

./frontend/node_modules/
/frontend/node_modules/
.frontend/node_modules/


